    <% id = auction.id %>
    <% isBuyNow = auction.isBuyNow %>
    <% title = auction.title %>
    <% description = auction.description %>
    <% price = auction.price %>
    <% photo = auction.photo %>
    <% timeToEnd = moment(auction.endDate).diff(moment()); %>


  
  <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"  src="<%= photo = auction.photo %>" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><%= title %></p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="auction/<%= id %>">
                    <div class="btn-group">
                        <p type="button" class="btn btn-sm btn-outline-secondary"><%= price %>$</p>
                        
                        <p type="button" class="btn btn-sm btn-outline-secondary">
                            <% if(isBuyNow) { %>
                                Buy now
                            <% } else { %>
                                Bid
                            <% } %>
                        </p>
                    </div>
                </a>
                <small class="text-muted">Days left:<%= moment(timeToEnd).format('D'); %></small>
            </div>
          </div>
        </div>
      </div>